@{
    ViewBag.Title = "О программе";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <p>
        Частный дом – это всегда свобода выбора: технологий строительства, архитектурных форм, отделки, ландшафтного дизайна. И сегодня потребители стали выбирать тщательнее: качественные строительные материалы, энергоэффективное оборудование, надежные тепло и гидроизоляции. Частный дом – это качественно новая среда обитания, и она должна быть удобной.
    </p>
    <p>
        Удобство и комфорт определяется климатом в доме. В свою очередь, климат зависит от температуры и влажности, и если с регулировкой влажности нет принципиальных проблем и трудностей при выборе, то с отопительной системы не так все прост. Для выбора оптимальной отопительной системы предстоит определить:
    </p>
    <ul>
        <li>тепловую мощность источника тепла — котла автономного отопления, она должна с минимальным запасом обеспечить дом теплом в самые холодные недели зимы;</li>
        <li>количество и размер отопительных приборов, как правило — количество секций радиаторов;</li>
        <li>диаметр труб, для оптимального транспортирования теплоносителя в системе отопления.</li>
    </ul>
    <img src="http://ultra-term.ru/wp-content/uploads/2014/09/kalkuljator-sistemy-otoplenija-chastnogo-doma.jpg" alt="Схема отопительной системы" />
</div>