@{
    ViewBag.Title = "Контакты";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>

    <address>
        <h3><strong>E-mail:</strong> Alexey.O.Melnikov@yandex.ru<br /></h3>
        <h3><strong>GitHub:</strong> <a href="https://github.com/Alexey-O-Melnikov/ProfitHeat">ProfitHeat</a></h3>
    </address>
</div>