@model ProfitHeat.Domain.Cladding

<label>@Model.CladdingType <b class="caret"></b></label>
<ul>
    <li>
        <div class="@*form-group*@">
            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </li>
    @foreach (var item in Model.WallLayers)
    {
        @:<li>
            Html.RenderAction("_WallLayer", new { wallLayerID = item.WallLayerID });
        @:</li>
    }
</ul>
