@model ProfitHeat.Domain.Cladding
<label>@Model.CladdingType <b class="caret"></b></label>
<ul>
    <li>
        <div class="@*form-group*@">
            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </li>
    @{
        string str = "newWallLayer" + Model.CladdingType;
    }
    @foreach (var item in Model.WallLayers)
    {
        Html.RenderAction("_WallLayer", new { wallLayerID = item.WallLayerID });
    }
    <li id=@str>
        <br />
        @Ajax.ActionLink("Добавить новый слой", "_WallLayer", "Project", new { wallLayerID = 0 }, new AjaxOptions { InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = str }, new { @class = "btn btn-info"})
    </li>

</ul>



