@model ProfitHeat.Domain.Glass
<li>
    @{
        Html.RenderAction("_CountCameras", new
        {
            countCameras = Model.CountCamera
        });
    }
</li>
<li>
    <div id="distanceBetweenG">
        @{
            Html.RenderAction("_DistanceBetweenGlasses", new
            {
                countCameras = Model.CountCamera,
                distanceBetweenGlasses = Model.DistanceBetweenGlasses
            });
        }
    </div>
</li>
<li>
    <div id="typeG">
        @{
            Html.RenderAction("_TypeGlasses", new
            {
                countCameras = Model.CountCamera,
                distanceBetweenGlasses = Model.DistanceBetweenGlasses,
                typeGlasses = Model.Type
            });
        }
    </div>
</li>
