@model List<ProfitHeat.Domain.Location>
<div class="@*form-group*@">
    <label for="locations" class="control-label">Город</label>
    <div class="">
        <input onchange="saveEntity('ProjectTitle', 'LocationTitle')" id="LocationTitle" list="locations" type="text" class="form-control" value="@ViewBag.Location.Title" />
        <datalist id="locations">
            @foreach (var m in Model)
            {
                <option>@m.Title</option>
            }
        </datalist>
    </div>
</div>