@model List<ProfitHeat.Domain.Location>
<div class="@*form-group*@">
    <label for="locations" class="control-label">Город:</label>
    <div class="">
        <input type="text" list="locations" class="form-control" value="@ViewBag.Location.Title">
        <datalist id="locations">
            @foreach (var m in Model)
            {
                <option>@m.Title</option>
            }
        </datalist>
    </div>
</div>