@model List<ProfitHeat.Domain.ManufacturerWindowProfile>

<div class="@*form-group*@">
    <label for="ManufacturerWindowProfiles">Производитель профиля</label>
    <div class="">
        <input id="manufacturerWindowProfil" type="text" list="ManufacturerWindowProfiles" class="form-control" value="@ViewBag.ManufacturerWindowProfile.TitleCompany" />
        <datalist id="ManufacturerWindowProfiles">
            @foreach (var item in Model)
            {
                <option>@item.TitleCompany</option>
            }
        </datalist>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#manufacturerWindowProfil').change(function (event) {
            var url = @Url.Action("_WindowProfiles", "Project");
            $('#windowProfil').load(url,)
        })
    })
</script>