@model List<ProfitHeat.Domain.ManufacturerWindowProfile>

<div class="@*form-group*@">
    <label for="ManufacturerWindowProfiles">Производитель профиля</label>
    <div class="">
        <input type="text" list="ManufacturerWindowProfiles" value="@ViewBag.ManufacturerWindowProfile" />
        <datalist id="ManufacturerWindowProfiles">
            @foreach (var item in Model)
            {
                <option>@item.TitleCompany</option>
            }
        </datalist>
    </div>
</div>