@model List<ProfitHeat.Domain.ManufacturerRadiator>
<label for="manufacturerRadia" class="control-label">Производитель:</label>
<div>
    <input onchange="changeManufacturerRadiators()" id="manufacturerRadiators" type="text" list="manufacturerRadia" class="form-control"
            value="@ViewBag.ManufacturerRadiator" data-url="@Url.Action("_ManufacturerRadiators", "Project")" />
    <datalist id="manufacturerRadia">
        @foreach (var m in Model)
        {
            <option>@m.TitleCompany</option>
        }
    </datalist>
</div>