@model List<ProfitHeat.Domain.Material>
@{ 
    string layerId = ViewBag.LayerID + "LayerMaterial";
    string layerThicknessId = ViewBag.LayerID + "LayerThickness";
}
<div class="@*form-group*@">
    <label for="materials" class="control-label">Материал:</label>
    <div class="">
        <input onchange="saveEntity('@layerThicknessId', '@layerId')" id="@layerId" type="text" class="form-control" list="materials" value="@ViewBag.Material.Title" />
        <datalist id="materials">
            @foreach (var m in Model)
            {
                <option>@m.Title</option>
            }
        </datalist>
    </div>
</div>