@model List<ProfitHeat.Domain.MaterialRadiator>
<div class="@*form-group*@">
    <label for="materialRadia" class="control-label">Материал радиатора:</label>
    <div class="">
        <input id="materialRadiators" type="text" list="materialRadia" class="form-control" 
               value="@ViewBag.MaterialRadiator.TitleMaterialRadiator">
        <datalist id="materialRadia">
            @foreach (var m in Model)
            {
                <option>@m.TitleMaterialRadiator</option>
            }
        </datalist>
    </div>
</div>