@model List<ProfitHeat.Domain.Radiator>

<div class="form-group">
    <label for="modelRadiator" class="control-label">Модель радиатора:</label>
    <div class="">
        <input id="modelRadiator" type="text" list="modelRadiator" class="form-control" value="@ViewBag.ModelRadiator.TitleModel" />
        <datalist id="modelRadiator">
            @foreach (var item in Model)
            {
                <option>@item.TitleModel</option>
            }
        </datalist>
    </div>
</div>
