@model ProfitHeat.Domain.Radiator
<div id="radiator" >
    <label for="radiator" class="">Радиатор <b class="caret"></b></label>
    <ul class="">
        <li>
            @{
                Html.RenderAction("_MaterialsRadiators", new { materialsRadiatorID = Model.MaterialRadiatorID });
            }
        </li>
        <li>
            <div id="manufecRadiator">
                @{
                    Html.RenderAction("_ManufacturerRadiators", new
                    {
                        materialRadiator = Model.MaterialRadiator.TitleMaterialRadiator,
                        manufacturerRadiator = Model.ManufacturerRadiator.TitleCompany
                    });
                }
            </div>
        </li>
        <li>
            <div id="modelRadiat">
                @{
                    Html.RenderAction("_ModelRadiator", new
                    {
                        materialRadiator = Model.MaterialRadiator.TitleMaterialRadiator,
                        manufacturerRadiator = Model.ManufacturerRadiator.TitleCompany,
                        modelRadiator = Model.TitleModel
                    });
                }
            </div>
        </li>
    </ul>

</div>