@model ProfitHeat.Domain.Radiator
<div id="radiator" class="btn-group">
    <label for="radiator" class="">Радиатор <b class="caret"></b></label>
    <ul class="">
        <li>
            @{
                Html.RenderAction("_MaterialsRadiators", new { materialsRadiatorID = Model.MaterialRadiatorID });
            }
        </li>
        <li>
            @{
                Html.RenderAction("_ManufacturerRadiators", new { manufacturerRadiatorID = Model.ManufacturerRadiatorID });
            }
        </li>
        <li>
            @{
                Html.RenderAction("_ModelRadiator", new
                {
                    radiatorID = Model.RadiatorID,
                    materialRadiatorID = Model.MaterialRadiatorID,
                    manufacturerRadiatorID = Model.ManufacturerRadiatorID
                });
            }
        </li>
    </ul>
</div>