<label for="powerBoiler" class="control-label">Мощность котла</label>
<input id="powerBoiler" type="text" class="form-control" value="@ViewBag.PowerBoiler">

<label for="diametrCoolant">Диаметр теплоносителя</label>
<input id="diametrCoolant" type="text" class="form-control" value="@ViewBag.DiameterCoolant">

<table class="table">
    <thead>
        <tr><td><b>Название комнаты</b></td><td><b>Количество секций</b></td></tr>
    </thead>
    <tbody>
        @foreach (var radiator in ViewBag.Radiators)
        {
            <tr><td>@radiator.NameRoom</td><td>@radiator.CountSection</td></tr>
        }
    </tbody>
</table>
