@model ProfitHeat.Domain.Room

<div id="nameRoom">
    @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label" })
    <div class="">
        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

@{
    Html.RenderAction("_TypeRooms", new { typeRoomID = Model.TypeRoomID });
}

@*@{
    Html.RenderAction("_Radiator", new { radiatorID = Model.RadiatorID });
}*@


<br />
@foreach (var cladding in Model.Claddings)
{
    Html.RenderAction("_Cladding", new { claddingID = cladding.CladdingID });
}

@Html.LabelFor(m => m.Windows, htmlAttributes: new { @class = "control-label" }) <b class="caret"></b>
@{
    Html.RenderAction("_Window", new { windowID = Model.Windows.First().WindowID });
}

@*<label>Окна <b class="caret"></b></label>
@{ int i = 1; }
<ul>
    @foreach (var window in Model.Windows)
    {
        @:<li>
            Html.RenderAction("_Window", new { windowID = window.WindowID, i = i });
        @:</li>
        i++;
    }
</ul>*@

