@model List<ProfitHeat.Domain.TypeRoom>

<div class="@*form-group*@">
    <label for="typeRooms" class="control-label">Тип комнаты:</label>
    <div class="">
        <input onchange="saveEntity('RoomTitle', 'RoomType')" id="RoomType" type="text" list="typeRooms" class="form-control" value="@ViewBag.TypeRoom.TitleTypeRoom" />
        <datalist id="typeRooms">
            @foreach (var m in Model)
            {
                <option>@m.TitleTypeRoom</option>
            }
        </datalist>
    </div>
</div>

