@model List<ProfitHeat.Domain.WindowProfile>

<div id="windowProfil" class="@*form-group*@">
    <label for="windowProfiles" class="control-label">Модель профиля</label>
    <input onchange="saveWindowProfile()" id="WindowProfileModel" type="text" list="windowProfiles" class="form-control" value="@ViewBag.WindowProfile" />
        <datalist id="windowProfiles">
            @foreach (var item in Model)
            {
                <option>@item.TitleMark</option>
            }
        </datalist>
</div>
